#nav-bar{
  background-color: #0B132A;
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  top: 0;
  height: 7%;
  color: white;
  padding: 5px;
  margin: 0 0 0 0;
}

#nav-bar #logo{
  float:left; color: #feffff; font-weight: 800; text-align: left;
  color: #17252A;
  text-decoration: none;
  color: #FEFFFF;
  padding: 14px 16px;
}

#UI-tag {
  display: flex;
  flex-direction: column;
}

.content{
  margin-top: 4.3%;
  height: 96.7%;
}

html, body {
    height: 100%;
}

.maincontainer{
  height:100%;
}

.wrapper{
  height:100%;
}

.ui.grid {
    height: 100%;
}
#right-column{
  position: relative;
  height: 100%;
  padding: 0 0 0 0 !important;
}

#left-column{
  height: 100%;
  overflow: hidden;
}

.form_column{
  height: 100%;
  overflow: hidden;
}

#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#options {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.source-code {
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.space-evenly {
  margin:40px;
}

#mobile-vehicle {
  display: block;
}

.ui.tab{
  padding-left: 10px;
  height: 100%;
}

.action-button{
  position: relative;
  bottom: 0;
  height: 5%;
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}